
/* CORE ------------------------------------ */
div[class*=block] {
    margin-top: 25px;
    margin-bottom: 15px;
}
div.content-block .content-block-inner, div.item-content .item-inner {
    padding: 10px 15px;
}
div.item-content {
    padding: 0px!important;	
}
div.content-block-title {
    text-transform: none!important;
    font-size: 17px;
    font-weight: bold;
    color: #444;
}
/* CORE ------------------------------------ */


/* TOOLBAR-BOTTOM --------------------------- */
#toolbar-bottom {
    height: auto!important;
    min-height: 55px!important;
}
#toolbar-bottom .link-toolbar-bottom i{

}
#toolbar-bottom .link-toolbar-bottom span{
    font-size: 10px!important;
}
#toolbar-bottom .link-toolbar-bottom{
    color: #666!important;
    /* width: 20%!important; */
}
#toolbar-bottom .link-toolbar-bottom.active{
    color: #FFF!important;
    background-color: #007aff;
}
#toolbar-bottom .link-toolbar-bottom img {
    max-width: inherit; 
    width: 71px!important;
}
/* TOOLBAR-BOTTOM --------------------------- */


/* PANEL ------------------------------------ */
.panel .top-panel {
    background-size: 35px 35px!important;
}
.panel, .panel ul {
    background: #efeff4;
}
.panel .top-panel {
    border: 0px solid silver;
    padding-left: 40px;
}
.panel .top-panel .slogan{
    font-size: 10px;
    color: #AAA;
}
.panel .top-panel .name{
    font-size: 18px;
    color: #555;
    font-weight: bold;
}
.panel .list-block {
    margin: 15px 0;
    font-size: inherit;
}
.panel .list-block ul {}
.panel .list-block ul li{
    position: initial;
}
.panel .list-block .item-content {
    padding-left: 0;
}
.panel .list-block .item-content .item-inner{
    padding-left: 0;
    padding-top: auto;
    padding-bottom: auto;
    min-height: 40px;
}
/* PANEL ------------------------------------ */


/* LIST BLOCK -------------------------------- */
.form-custom .list-block .item-inner {
    min-heigh: inherit;
}
.form-custom .list-block li{
    display: table;
    width: 100%;
}
.form-custom .list-block .item-title.label {
    width: 100%;
    font-size: 14px;
    position: absolute;
    top: 10px !important;
    color: #444;
}	
.form-custom .list-block .item-input {
    width: 100%;
    margin: 0px !important;
    margin-top: 22px !important;
}
.form-custom .list-block input[type="date"], 
.form-custom .list-block input[type="datetime-local"], 
.form-custom .list-block input[type="email"], 
.form-custom .list-block input[type="number"], 
.form-custom .list-block input[type="password"], 
.form-custom .list-block input[type="search"], 
.form-custom .list-block input[type="tel"], 
.form-custom .list-block input[type="text"], 
.form-custom .list-block input[type="time"], 
.form-custom .list-block input[type="url"], 
.form-custom .list-block select, 
.form-custom .list-block textarea {
    font-size: 14px;
    border: 1px #DDD solid;
    border-radius: 6px;
    padding: 0px 8px!important;
    height: 33px;
    color: #444;
}
.form-custom .list-block textarea {
    height: 100px;
}
.form-custom .list-block .item-content .item-media{
    padding: 10px;
}
.form-custom .list-block .item-content .item-media + .item-inner {
    margin-left: 0px;
}
.form-custom .list-block .item-content .item-inner .item-title .item-media {
    padding: 0px!important;
}
.form-custom .list-block .item-content .item-inner .item-title .item-media i.fa{
    padding-right: 8px!important;
}
/* LIST BLOCK -------------------------------- */


/* SEARCH ------------------------------------ */
.page>.searchbar {
    position: relative;
}
/* SEARCH ------------------------------------ */


/* INFINITESCROLL ---------------------------- */
.infinite-scroll-preloader {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.infinite-scroll-preloader .preloader {
    width:34px;
    height:34px;
}     
/* INFINITESCROLL ---------------------------- */


/* LOGIN ------------------------------------- */
.login-screen-title {
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin: 30px auto;
}
.login-screen-subtitle {
    text-align: center;
    font-size: 12px;
    width: 100%;
    margin-top: -30px;
    margin-bottom: 30px;
}
/* LOGIN ------------------------------------- */


/* MODAL ------------------------------------- */
.my-modal {
    display: none;
}
.my-modal .close {
    float: right;
    padding: 10px;
    z-index: 9;
    position: absolute;
    right: 0;
    top: 0;
}
.modal-inner{
    background: rgba(255,255,255,1)!important;
}
.modal-inner .list-block,.modal-inner .content-block{
    margin-top: 15px!important;
    margin-bottom: 10px!important;
}
.modal-inner div.content-block .content-block-inner, .modal-inner div.item-content .item-inner {
    padding: 10px 5px!important;
}
.picker-modal.modal-in {
    z-index: 99999;
}
/* MODAL ------------------------------------- */


/* NOTIFICATION ------------------------------ */
.notifications .item-text {
	text-overflow: initial!important;
    -webkit-line-clamp: initial!important;
    -webkit-box-orient: none!important;
	overflow: auto!important;
	height: auto!important;
	max-height: 150px!important;
}
/* NOTIFICATION ------------------------------ */


/* UTIL -------------------------------------- */
.padding-default {
    padding: 10px 15px;
}
.width-33p {
    float: left;
    width: 33%;
}
.width-33p .item-inner {
    padding-left: 10px!important;
    padding-right: 10px!important;
}
li .width-33p:first-child .item-inner {
    padding-left: 15px!important;
    padding-right: 5px!important;
}
li .width-33p:last-child .item-inner {
    padding-left: 5px!important;
    padding-right: 15px!important;
}
.width-50p {
    float: left;
    width: 50%;
}
li .width-50p:first-child .item-inner {
    padding-right: 7.5px!important;
}
li .width-50p:last-child .item-inner {
    padding-left: 7.5px!important;
}
.float-left {float: left!important};
.float-right {float: right!important};
/* UTIL -------------------------------------- */


/* MY CSS ------------------------------------ */
#vendasList{
    margin-top: 0px!important;
}

#vendasList .item-title {
    font-size: 10px!important;
    height: 16px;
    width: 100%;
}
#vendasList .item-title-list div {
    padding: 0px!important;
    margin: 0px!important;
    text-align: center;
    height: auto;
    border: 0px solid sienna;
    font-weight: bold;
}

#vendasList li{
    padding-left: 0px;
}
#vendasList .item-inner{
    padding-left: 8px;
    padding-right: 8px;
}
.list-vendas .font14 {
    font-size: 14px;
}


/* LISTA - PROMOÇOES */
#listaPromocoes {
    float: left;   
}
#listaPromocoes .list-promocoes small{
    margin-top: -2px!important;
    position: absolute;  
}
#listaPromocoes .list-promocoes i.fa:active {
    opacity: 0.3;
}

/* PANINEL DIREITA - DADOS DA COMPRA */
#painelCompra {
    position: fixed;
    min-width: 190px;
    background: #FFF;
    height: 100%;
    margin-left: 418px;
    margin-top: 25px;
    top: 0px;
}
#painelCompra .funcionario {
    padding: 4px;
    text-align: center;
    width: 100%;
}
#painelCompra .formCompra .item-inner {
    padding: 10px!important;
}
#painelCompra .formCompra .list-block {
    margin-top: 0px!important;
}

/* DETALHES DA COMPRA */
#painelCompra .detalheCompra table td{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
    height: 25px;
}
#painelCompra .detalheCompra table tr.total{
    font-size: 14px;
    font-weight: bold;
}
span.form-erro {
    font-size: 11px;
    color: red;
    display: none;
}
form .fa-search {
    padding: 8px;
    margin-top: 5px;
}
/* MY CSS ------------------------------------ */



